/* ==|== primary styles =====================================================
   Author: James South
   ========================================================================== */

/* =============================================================================
   Base Elements
   ========================================================================== */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    font-family: "Segoe UI",Tahoma,Arial,Verdana,Sans-Serif;
    color: #333;
}

h1, h2, h3 {
    font-family: "Segoe UI Light", "Segoe UI",Tahoma,Arial,Verdana,Sans-Serif;
    font-weight: 400;
}

h1 {
    margin-top: 0;
    font-size: 3em;
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2.5em;
    }
}

a {
    color: #dc582e;
}

a.alt {
    color: #ff9000;
}

img {
    max-width: 100%;
}

section {
    padding: 2em 0;
}

pre, code {
    font-family: Consolas, monospace, serif;
}

pre {
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    padding: 1em .5em;
}

code {
    margin: .5em 0;
}

.page-footer {
    padding-top: 16px;
    height: 134px;
    background-color: #ddd;
}

/* =============================================================================
   Colour schemes
   ========================================================================== */

.blue {
    background-color: #00a9ec;
    color: #fff;
}

.red {
    background-color: #ED1C24;
    color: #fff;
}

.green {
    background-color: #72a61a;
    color: #fff;
}

.emerald {
    background-color: #00a94f;
    color: #fff;
}

.dark-violet {
    background-color: #211054;
    color: #fff;
}

.orange {
    background-color: #ff9000;
    color: #fff;
}

.magenta {
    background-color: #ec008c;
    color: #fff;
}

.purple {
    background-color: #a700af;
    color: #fff;
}

/* =============================================================================
   Classes
   ========================================================================== */
.logo {
    padding-top: 0.67em;
}

.tick-list li {
    font-size: 1.5em;
    position: relative;
    padding-left: 36px;
    padding-top: 3px;
    list-style: none;
}

    .tick-list li:before {
        position: absolute;
        content: "\2714";
        font-size: 36px;
        left: 0;
        top: -6px;
    }

.twitter-share-button {
    margin-top: 4em;
    display: inline-block;
}

.forkme, .forkme:visited {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../images/blacktocat.png') #222 no-repeat 95% 50%;
    text-decoration: none;
    text-transform: uppercase;
}

    .forkme:hover {
        background-color: #444;
    }

@media only screen and (max-width: 480px) {
    .no-padd {
        padding-left: 0;
    }
}
