/* ==|== primary styles =====================================================
   Author: James South
   ========================================================================== */

/* =============================================================================
   Base Elements
   ========================================================================== */


h1 {
    margin-top: 0;
    font-size: 3em;
}



.logo {
    padding-top: 0.67em;
    background: url(imageprocessor.128.png) no-repeat;
    height: 128px;
    padding-left: 144px;
}
