<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/css/responsive.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>ImageProcessorCore.Web</h1>
        </header>
        <nav role="navigation">
            <ul>
                <li><a href="/Home/Index">Jpeg</a></li>
                <li><a href="/Home/Bmp">Bmp</a></li>
                <li><a href="/Home/Gif">Gif</a></li>
                <li><a href="/Home/Png">Png</a></li>
            </ul>
        </nav>
        <section>
            @RenderBody()
        </section>
    </div>
</body>
</html>