<caching currentCache="DiskCache">
  <caches>
    <cache name="DiskCache" type="ImageProcessor.Web.Caching.DiskCache, ImageProcessor.Web" maxDays="365" browserMaxDays="7">
      <settings>
        <setting key="VirtualCachePath" value="~/App_Data/cache"/>
        <!--Both of these are valid for storing cache files inside the web root-->

        <!--<setting key="VirtualCachePath" value="~/App_Data/TEMP/IPCache"/>-->
        <!--<setting key="VirtualCachePath" value="X:\Projects\ImageProcessor\ImageProcessor\tests\ImageProcessor.TestWebsite\App_Data\TEMP\IPCache"/>-->

        <!--Both of these are valid for storing cache files outside the web root-->

        <!--<setting key="VirtualCachePath" value="~/../OUTSIDE"/>-->
        <!--<setting key="VirtualCachePath" value="X:\Projects\ImageProcessor\ImageProcessor\tests\OUTSIDE"/>-->

      </settings>
    </cache>
    <cache name="AzureBlobCache" type="ImageProcessor.Web.Plugins.AzureBlobCache.AzureBlobCache, ImageProcessor.Web.Plugins.AzureBlobCache" maxDays="365">
      <settings>
        <!-- account level SAS -->
        <!--<setting key="CachedStorageAccount"
                 value="SharedAccessSignature=sv=2018-03-28&amp;ss=b&amp;srt=sco&amp;sp=rwdlacup&amp;st=2018-09-13T09%3A58%3A18Z&amp;se=2118-09-14T11%3A08%3A00Z&amp;sig=1DaAbwkZHCENv7mOYy1FLi3VVlgvTSq3RI69bESptvg%3D;BlobEndpoint=https://imageprocessor.blob.core.windows.net/;" />-->
        <!-- service level SAS -->
        <!--<setting key="CachedStorageAccount" 
                 value="SharedAccessSignature=?sv=2018-03-28&amp;si=cache-full-access&amp;sr=c&amp;sig=exDQ6ARcyTHtp9pWWwNm%2FgRmYf7%2BRqEjKl3CNz5g4rI%3D;BlobEndpoint=https://imageprocessor.blob.core.windows.net;" />-->
        <!--
        SAS can only be dynamicaly created for shared key access :-(
        -->
        <!-- shared key access level -->
        <setting key="CachedStorageAccount"
                 value="DefaultEndpointsProtocol=https;AccountName=imageprocessor;AccountKey=se2MHO1gkUm5tRiF6/Gvrd0FCN6CUaanS9OnCjffj2zkj7mLcth60yAmgZmSEvjnid646f1Vze8z7+6WfRIalA==" />
        
        <setting key="CachedBlobContainer" value="cache" />
        <setting key="UseCachedContainerInUrl" value="true" />
        <setting key="CachedCDNRoot" value="https://imageprocessor.azureedge.net" />
        <setting key="CachedCDNTimeout" value="1000" />
        <setting key="SourceStorageAccount"
                 value="SharedAccessSignature=sv=2018-03-28&amp;si=media-rwdl&amp;sr=c&amp;sig=ztM9kj5Uz4fBIb2%2BJUBs%2BDwdNVX8%2Bjc%2Ballf%2B%2FktWLo%3D;BlobEndpoint=https://imageprocessor.blob.core.windows.net;" />
        <setting key="SourceBlobContainer" value="media" />
        <setting key="StreamCachedImage" value="false" />
        <!-- For private blobs only -->
        <!-- For shared key access this updates the CachedBlobContainer permissions accordingly, for SAS access this is ignored -->
        <setting key="UsePrivateContainer" value="true" />
        <!-- Defines the validity end offset in minutes for dynamically generated SAS query strings. Default is 30. -->
        <setting key="SASValidityInMinutes" value="6"/>
        <!-- In case of private blobs and SAS access credentials, SAS cannot be generated dynamically. You should use this feature carefully, because such SAS makes private blob protection quite useless. -->
        <setting key="SASQueryString" value="?sv=2018-03-28&amp;si=cache-read-only-policy&amp;sr=c&amp;sig=drXDwEyrzyOKP3QX3e1puVzURvCJMU1oYpBk5oKsrZY%3D"/>
      </settings>
    </cache>
  </caches>
</caching>
