<caching currentCache="AmazonS3Cache">
  <caches>
    <cache name="AmazonS3Cache" type="ImageProcessor.Web.Plugins.AmazonS3Cache.AmazonS3Cache, ImageProcessor.Web.Plugins.AmazonS3Cache" maxDays="365" browserMaxDays="7">
      <settings>
        <setting key="AwsBucketName" value="ipmedia-bucket"/>
        <setting key="AwsCacheKeyPrefix" value="ipcache" />
        <setting key="RegionEndpoint" value="eu-west-2" />
        <setting key="CachedCDNRoot" value="http://ipcache.cloudfront.net/" />
        <setting key="CloudSourceURI" value="https://s3.eu-west-2.amazonaws.com/ipmedia-bucket/" />
        <setting key="SourceRegionEndpoint" value="eu-west-2" />
        <setting key="CachedCDNTimeout" value="2000" />
        <setting key="StreamCachedImage" value="false" />
      </settings>
    </cache>
  </caches>
</caching>
