<caching currentCache="DiskCache">
  <caches>
    <cache name="DiskCache" type="ImageProcessor.Web.Caching.DiskCache, ImageProcessor.Web" maxDays="365" browserMaxDays="7">
      <settings>
        
        <!--Both of these are valid for storing cache files inside the web root-->
        
        <!--<setting key="VirtualCachePath" value="~/App_Data/TEMP/IPCache"/>-->
        <!--<setting key="VirtualCachePath" value="X:\Projects\ImageProcessor\ImageProcessor\tests\ImageProcessor.TestWebsite\App_Data\TEMP\IPCache"/>-->

        <!--Both of these are valid for storing cache files outside the web root-->

        <!--<setting key="VirtualCachePath" value="~/../OUTSIDE"/>-->
        <!--<setting key="VirtualCachePath" value="X:\Projects\ImageProcessor\ImageProcessor\tests\OUTSIDE"/>-->
        
      </settings> 
    </cache>
  </caches>
</caching>
