<?xml version="1.0" encoding="utf-8" ?>
<security>
  <services>
    <service name="LocalFileImageService" type="ImageProcessor.Web.Services.LocalFileImageService, ImageProcessor.Web"/>
    <service prefix="appdata.axd" name="AppDataImageService" type="ImageProcessor.TestWebsite.ImageServices.AppDataImageService, ImageProcessor.TestWebsite"/>
    <service prefix="database.axd" name="DatabaseImageService" type="ImageProcessor.TestWebsite.ImageServices.DatabaseImageService, ImageProcessor.TestWebsite"/>
    <!--<service prefix="amazon/" name="CloudImageService" type="ImageProcessor.Web.Services.CloudImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="26214400"/>
        <setting key="Timeout" value="30000"/>
        <setting key="Host" value="https://s3.eu-west-2.amazonaws.com/ipcache/"/>
      </settings>
    </service>-->
    <service prefix="test/" name="CloudImageService" type="ImageProcessor.Web.Services.CloudImageService, ImageProcessor.Web">
      <settings>
        <setting key="Container" value="test"/>
        <setting key="MaxBytes" value="8194304"/>
        <setting key="Timeout" value="30000"/>        
        <!--
        For private blobs you can add Shared Access Signature (SAS) query string in setting key=SASQueryString.
        SASQueryString should be an SAS like Microfoft Azure Storage Explorer generates it for account or service level.
        A service level SAS could be based on an access policy, which could be withdrawn or changed without changing the global shared keys.
        It is not critical to use a SAS with long term validity e.g. 100 years, because this SAS will only be used in server side requests.
        For account level SAS 'Read' permission, 'Blobs' service and 'Object' Resource Type needs to be allowed.
        Service level SAS either inherit all from their access policy or define permissions, start and end time on its own. 'Read' is sufficent here.
        For more details read: https://docs.microsoft.com/en-us/azure/storage/common/storage-dotnet-shared-access-signature-part-1
        Important:
        Replace single & delimiters (as these are not allowed in config files) by &amp; 
        -->
        <!-- account level SAS -->
        <!--<setting key="SASQueryString" value="?sv=2018-03-28&amp;ss=b&amp;srt=o&amp;sp=r&amp;st=2018-09-14T12%3A24%3A19Z&amp;se=2090-09-15T12%3A24%3A00Z&amp;sig=RTqoajh5Xj1CzGLs7mg0GJQxdocjN4YgF87H2MIsbQk%3D" />-->
        <!-- service level SAS based on 'media-r' access policy -->
        <setting key="SASQueryString" value="?sv=2018-03-28&amp;si=media-r&amp;sr=c&amp;sig=drXDwEyrzyOKP3XQ3e1puVzURvCJMU1oYpBk5oKsrZY%3D"/>
        <setting key="Host" value="http://imageprocessor.blob.core.windows.net/"/>
      </settings>
    </service>
    <service prefix="remote.axd" name="RemoteImageService" type="ImageProcessor.Web.Services.RemoteImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="8194304"/>
        <setting key="Timeout" value="30000"/>
        <setting key="Protocol" value="http"/>
        <setting key="Useragent" value="Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36"/>
      </settings>
      <whitelist>
        <add url="http://ipcache.blob.core.windows.net/"/>
        <add url="http://stormmanagementstaging.blob.core.windows.net/"/>
        <add url="images.mymovies.net"/>
        <add url="core.windows.net"/>
        <add url="http://maps.googleapis.com"/>
        <add url="fbcdn"/>
        <add url="external.xx.fbcdn.net/"/>
        <add url="http://fbcdn-profile-"/>
        <add url="https://profile."/>
        <add url="http://profile."/>
        <add url="https://pbs.twimg.com"/>
        <add url="http://pbs.twimg.com"/>
        <add url="http://placekitten.com"/>
        <add url="http://hanselminutes.com/"/>
        <add url="https://i.scdn.co"/>
      </whitelist>
    </service>
  </services>
</security>
