<?xml version="1.0" encoding="utf-8" ?>
<security>
  <services>
    <service name="LocalFileImageService" type="ImageProcessor.Web.Services.LocalFileImageService, ImageProcessor.Web"/>
    <service prefix="appdata.axd" name="AppDataImageService" type="ImageProcessor.TestWebsite.ImageServices.AppDataImageService, ImageProcessor.TestWebsite"/>
    <service prefix="database.axd" name="DatabaseImageService" type="ImageProcessor.TestWebsite.ImageServices.DatabaseImageService, ImageProcessor.TestWebsite"/>
    <!--<service prefix="amazon/" name="CloudImageService" type="ImageProcessor.Web.Services.CloudImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="26214400"/>
        <setting key="Timeout" value="30000"/>
        <setting key="Host" value="https://s3.eu-west-2.amazonaws.com/ipcache/"/>
      </settings>
    </service>-->
    <!--<service prefix="azure/" name="CloudImageService" type="ImageProcessor.Web.Services.CloudImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="8194304"/>
        <setting key="Timeout" value="30000"/>
        <setting key="Host" value="http://ipcache.blob.core.windows.net/"/> 
      </settings>
    </service>-->
    <service prefix="remote.axd" name="RemoteImageService" type="ImageProcessor.Web.Services.RemoteImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="8194304"/>
        <setting key="Timeout" value="30000"/>
        <setting key="Protocol" value="http"/>
        <setting key="Useragent" value="Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36"/>
      </settings>
      <whitelist>
        <add url="http://ipcache.blob.core.windows.net/"/>
        <add url="http://stormmanagementstaging.blob.core.windows.net/"/>
        <add url="images.mymovies.net"/>
        <add url="core.windows.net"/>
        <add url="http://maps.googleapis.com"/>
        <add url="fbcdn"/>
        <add url="external.xx.fbcdn.net/"/>
        <add url="http://fbcdn-profile-"/>
        <add url="https://profile."/>
        <add url="http://profile."/>
        <add url="https://pbs.twimg.com"/>
        <add url="http://pbs.twimg.com"/>
        <add url="http://placekitten.com"/>
        <add url="http://hanselminutes.com/"/>
        <add url="https://i.scdn.co"/>
      </whitelist>
    </service>
  </services>
</security>
