[*.cs]
# Use soft tabs (spaces) for indentation
indent_style = space

# Indent switch case contents
csharp_indent_case_contents = true

# Indent switch labels
csharp_indent_switch_labels = true

# Place catch statements on a new line
csharp_new_line_before_catch = true

# Place else statements on a new line
csharp_new_line_before_else = true

# Require finally statements to be on a new line after the closing brace
csharp_new_line_before_finally = true

# Require braces to be on a new line for types, properties, lambdas, object_collection_array_initializers, methods, control_blocks, and accessors (also known as "Allman" style)
csharp_new_line_before_open_brace = types, properties, lambdas, object_collection_array_initializers, methods, control_blocks, accessors

# Sort System.* using directives alphabetically, and place them before other usings
dotnet_sort_system_directives_first = true

# Require NO space between a cast and the value
csharp_space_after_cast = false

# Require a space before the colon for bases or interfaces in a type declaration
csharp_space_after_colon_in_inheritance_clause = true

# Require a space after a keyword in a control flow statement such as a for loop
csharp_space_after_keywords_in_control_flow_statements = true

# Require a space before the colon for bases or interfaces in a type declaration
csharp_space_before_colon_in_inheritance_clause = true

# Remove space within empty argument list parentheses
csharp_space_between_method_call_empty_parameter_list_parentheses = false

# Remove space between method call name and opening parenthesis
csharp_space_between_method_call_name_and_opening_parenthesis = false

# Do not place space characters after the opening parenthesis and before the closing parenthesis of a method call
csharp_space_between_method_call_parameter_list_parentheses = false

# Remove space within empty parameter list parentheses for a method declaration
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false

# Place a space character after the opening parenthesis and before the closing parenthesis of a method declaration parameter list.
csharp_space_between_method_declaration_parameter_list_parentheses = false

# Leave code block on single line
csharp_preserve_single_line_blocks = true

# Prefer expression-bodied members for accessors
csharp_style_expression_bodied_accessors = true:suggestion

# Prefer expression-bodied members for constructors
csharp_style_expression_bodied_constructors = true:suggestion

# Prefer expression-bodied members for indexers
csharp_style_expression_bodied_indexers = true:suggestion

# Prefer expression-bodied members for methods
csharp_style_expression_bodied_methods = true:suggestion

# Prefer expression-bodied members for properties
csharp_style_expression_bodied_properties = true:suggestion

# Prefer out variables to be declared inline in the argument list of a method call when possible
csharp_style_inlined_variable_declaration = true:suggestion

# Prefer the language keyword for member access expressions, instead of the type name, for types that have a keyword to represent them
dotnet_style_predefined_type_for_member_access = true:suggestion

# Prefer explicit type over var to declare variables with built-in system types such as int
csharp_style_var_for_built_in_types = false:suggestion

# Prefer var when the type is already mentioned on the right-hand side of a declaration expression
csharp_style_var_when_type_is_apparent = true:suggestion

# Prefer the language keyword for local variables, method parameters, and class members, instead of the type name, for types that have a keyword to represent them
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion

# Prefer fields to be prefaced with this. in C# or Me. in Visual Basic
dotnet_style_qualification_for_field = true:suggestion

# Prefer methods to be prefaced with this. in C# or Me. in Visual Basic
dotnet_style_qualification_for_method = true:suggestion

# Prefer properties to be prefaced with this. in C# or Me. in Visual Basic
dotnet_style_qualification_for_property = true:suggestion
