@{
    ViewBag.Title = "Database";
}
<h1>Database</h1>
<section>
    <div class="row">
        <div class="col-s-12">
            <h4>Current</h4>
            <img src="/database.axd/logo.png?width=300" />
        </div>
    </div>
</section>
