{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
{% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
{% assign previous="" %}{% assign splitwords={{url_parts | replace:'.html',"" | split: " "}} %}
{% assign lastword={{splitwords.last}} %}
<ol class="breadcrumb">
{% if num_parts == "0" or num_parts == "-1" %}
<li><a href="/">home</a> &#187; </li>
{% else %}
<li><a href="/">home</a> &#187; </li>
{% for unused in page.content limit:num_parts %}
{% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
{% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}
<li><a href="{{previous}}">{{ first_word }}</a> &#187; </li>
{% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
{% endfor %}
{% endif %}
<li>{{lastword}}</li>
</ol>