<ol class="breadcrumb">
    {% assign breadcrumbs = page.url | remove: "/index.html" | split: '/' %}
    {% assign url = '' %}
    <li><a href="/">home</a> &#187; </li>
    {% for crumb in breadcrumbs offset:1 %}
    {% capture url %}{{ url }}/{{ crumb }}{% endcapture %}
    {% assign title = crumb | replace: "-", " " %}
    <li class="{% if forloop.last %}current{% endif %}">{% if forloop.last == false %}<a href="{{ url }}/">{{ title }}</a> &#187;{% else %}{{ title | remove: ".html" }}{% endif %}</li>
    {% endfor %}
</ol>