{% assign sortedpages = site.pages | sort:"name" %}
{% assign loopindex = 0 %}
{% for page in sortedpages %}
{% if page.root == {{include.param}} and page.layout == "class" %}
{% if loopindex == 0 %}
{% capture loopindex %}{{ loopindex | plus:1 }}{% endcapture %}
<h3>Classes</h3>
<div class="pane nav">
    <ul class="no-bullets">
        {% endif %}
        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
        {% if forloop.last %}
    </ul>
</div>
{% endif %}
{% endif %}
{% endfor %}