@{
    ViewData["Title"] = "Png";
}
<article>
    <section>
        <div class="row">
            <div class="col-s-6">
                <h2>Resized</h2>
                <img src="/images/format-Penguins.png?width=300" />
            </div>
        </div>
    </section>
</article>