@font-face {
    font-family: "open_sanssemibold";
    src: url("libs/fonts/open-sans-fontfacekit/web fonts/OpenSans-Semibold-webfont.eot");
    src: url("libs/fonts/open-sans-fontfacekit/web fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("libs/fonts/open-sans-fontfacekit/web fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("libs/fonts/open-sans-fontfacekit/web fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("libs/fonts/open-sans-fontfacekit/web fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open_sansregular";
    src: url("libs/fonts/open-sans-fontfacekit/web fonts/OpenSans-Regular-webfont.eot");
    src: url("libs/fonts/open-sans-fontfacekit/web fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("libs/fonts/open-sans-fontfacekit/web fonts/OpenSans-Regular-webfont.woff") format("woff"), url("libs/fonts/open-sans-fontfacekit/web fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("libs/fonts/open-sans-fontfacekit/web fonts/OpenSans-Regular-webfont.svg#open_sansRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*==|Base|=========================================================
 * 
 *=================================================================
 */
body {
    font-family: "open_sansregular", Arial, Sans-Serif;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    font-family: "open_sanssemibold",Arial,Sans-Serif;
    font-weight: 400;
    text-transform: capitalize;
}

h1 {
    font-size: 1.17rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1rem;
    margin: 1.33rem 0;
}

@media (min-width: 48em ) {
    h1 {
        font-size: 2rem;
        margin: 1.34rem 0;
    }

    h3 {
        font-size: 1.17rem;
        margin: 1rem 0;
    }
}

blockquote {
    padding: 1rem 1rem 1rem 1.5rem;
    border-left: 5px solid #096396;
}

a {
    color: #0277bb;
    text-decoration: none;
    -webkit-transition: color .1s linear, background-color .1s linear;
    -moz-transition: color .1s linear, background-color .1s linear;
    transition: color .1s linear, background-color .1s linear;
}

    a:hover {
        color: #01476f;
    }

    a:active, a:focus {
        color: #01476f;
    }

hr {
    margin: 2.5rem 0;
}

/*==|Buttons|======================================================
 * 
 *=================================================================
 */

button,
[role="button"] {
    background-color: #0f344d;
    border-color: #0f344d;
    border-radius: 2px;
    color: #fff;
}

    button:hover,
    [role="button"]:hover {
        background-color: #285e8e;
        border-color: #285e8e;
    }


    button:active,
    [role="button"]:active {
        background-color: #4896DA;
        border-color: #4896DA;
    }

    [type="submit"],
    [role="button"],
    [role="button"]:hover,
    [role="button"]:focus,
    [role="button"]:active {
        display: inline-block;
        padding: 0.5rem 1rem;
        color: #fff;
        margin-bottom: 1rem;
    }

/*==|Header====|===================================================
 * 
 *=================================================================
 */
header[role="banner"] {
    background-color: #096396;
    color: #fff;
    /*background-image: url("libs/images/bg.png");*/
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
}

    header[role="banner"] h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    header[role="banner"] a {
        color: inherit;
    }

    header[role="banner"] span {
        display: block;
        font-size: 55%;
        margin: .34rem 0;
    }

@media (min-width: 48em) {
    header[role="banner"] h1 {
        font-size: 3rem;
    }
}

/*==|Navigation|===================================================
 * 
 *=================================================================
 */

.nav {
    border-left: 3px solid #096396;
}

nav[role="navigation"] {
    background: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    padding: .2rem 0;
}


    nav[role="navigation"] a {
        color: inherit;
        text-decoration: none;
        display: block;
        float: left;
    }

[dir="rtl"] nav[role="navigation"] a {
    float: right;
}

nav[role="navigation"] a[rel="home"] {
    font-size: 1.5rem;
    margin-right: 1rem;
}

nav[role="navigation"] [data-dropdown-target] {
    border-color: #096396;
    background: #096396 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QUVCMDMzMTZFM0ZBMTFFMjgwRkY4QzM1MTM0ODI5MTkiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QUVCMDMzMTdFM0ZBMTFFMjgwRkY4QzM1MTM0ODI5MTkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBRUIwMzMxNEUzRkExMUUyODBGRjhDMzUxMzQ4MjkxOSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBRUIwMzMxNUUzRkExMUUyODBGRjhDMzUxMzQ4MjkxOSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pgt6AmsAAAApSURBVHjaYvwPBAw0BEwMNAZD3wIWIGYc8j4YTUWjqWg0FQ11CwACDADmUQYkjaDs3gAAAABJRU5ErkJggg==') /*/assets/css/mobile-nav.png*/ no-repeat center center;
    width: 24px;
    height: 27px;
    float: right;
}

#navigation {
    clear: both;
}

    #navigation a {
        display: block;
        float: none;
        padding: .5rem;
    }

        #navigation a.active,
        #navigation a:hover {
            background-color: #096396;
            color: #fff;
        }

@media (min-width: 48em) {
    #navigation {
        clear: none;
        float: left;
    }

    [dir="rtl"] #navigation {
        float: right;
    }

    #navigation.collapse {
        height: auto !important;
        overflow: visible !important;
    }

    #navigation a {
        line-height: 2.15rem;
        float: left;
        padding: 0 .5rem;
    }

    [dir="rtl"] #navigation a {
        float: right;
    }

    nav[role="navigation"] a + a {
        margin-left: 1rem;
    }

    [dir="rtl"] nav[role="navigation"] a + a {
        margin-left: 0;
        margin-right: 1rem;
    }
}

/*==|Navigation|===================================================
 * 
 *=================================================================
 */

.breadcrumb {
    background-color: #eee;
    padding: 0 0 1rem;
    margin-bottom: 1rem;
}

    .breadcrumb ol {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #eee;
    }

    .breadcrumb li {
        display: inline-block;
        text-transform: uppercase;
    }

nav[role="complementary"] a {
    line-height: 44px;
    padding: 0 .5rem;
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

    nav[role="complementary"] a:hover {
        text-decoration: underline;
    }

@media (min-width: 62em) {
    nav[role="complementary"] {
        margin-top: 1rem;
    }
}

footer[role="contentinfo"] {
    padding-bottom: 2rem;
}



@media (min-width: 48em) {
    [type="submit"],
    .download {
        font-size: 1.5rem;
    }
}

.download-links {
    padding-left: 20px;
}


.social-icons {
    list-style: none;
    padding: 0;
}

    .social-icons li {
        display: inline-block;
    }

button > .fa,
a > .fa {
    margin-right: .5rem;
}

article [rel="subsection"]{
   font-size: 1.5rem;
   margin: 1.245rem 0;
}

article a{
   font-weight: bold;
}

[rel="subsection"] > .fa,
[rel="chapter"] > .fa{
    margin-left: .5rem;
    margin-right: .25rem;
}

/*==||=============================================================
 * Utilities
 *=================================================================
 */

.pane {
    background-color: #fff;
    padding: 1px 1rem;
}

.shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
}

.shadow-alt {
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px 0;
}

.highlight{
    margin-left: 0;
    margin-right: 0;
}

/*
 * Force the spans to break words on the pre tag
 */
pre[class*="language-"] {
    border: #c0c0c0 solid 4px;
}

code {
    border: none;
    text-shadow: none;
    color: #f00;
    font-family: consolas, monospace,serif;
}
/*
 * Monokai-esque style form prism.
 */
pre[class*="language-"], code {
    border-radius: 3px;
}

    pre[class*="language-"],
    pre[class*="language-"] code,
    pre[class*="language-"] samp,
    pre[class*="language-"] kbd,
    samp,
    kbd {
        background-color: #272822;
        text-shadow: none;
        color: #dfdfdf;
        font-family: consolas, monospace,serif;
    }

.token.property, .token.tag, .token.boolean, .token.number {
    color: #f92672;
}

.token.selector, .token.attr-name, .token.string {
    color: #a6e22e;
}

.token.atrule, .token.attr-value, .token.keyword {
    color: #66d9ef;
}

.token.keyword {
    font-style: italic;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: none;
    color: #A67F59;
}

.token.class-name {
    color: #ae81ff;
}

.token.function {
    color: #fd971f;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
    color: #75715e;
}
