<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if page.title %} {{ page.title }} :: {% endif %}{% if page.group == "imageprocessor-web" %}{{site.altname}} {% else %}{{site.name}}{% endif %}</title>
    <meta name="description" content="{% if page.subheading %} {{ page.subheading }} {% else %} {{ site.description }} {% endif %}" />

    <link href="{{ "/assets/css/responsive.min.css" | relative_url }}" rel="stylesheet" />
    <link href="{{ "/assets/css/vendor/pygments.monokai.css" | relative_url }}" rel="stylesheet" />
    <link href="{{ "/assets/css/vendor/font-awesome-4.2.0/css/font-awesome.min.css" | relative_url }}" rel="stylesheet" />
    <link href="{{ "/assets/css/docs.css" | relative_url }}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}?v=1" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/ico/apple-touch-icon-144x144.png" | relative_url }}" />
</head>
<body class="{{page.navgroup}}">
    <nav role="navigation" class="shadow">
        <div class="container">
            <div class="row">
                <a href="{{ "/" rel="home">ImageProcessor</a>
                <button data-dropdown-target="#navigation" class="visible-xxs visible-xs"><span class="visuallyhidden">Toggle Navigation</span></button>
                <div id="navigation" class="collapse">
                    <a href="{{ "/getting-started/" | relative_url }}" {% if page.navgroup == "gettingstarted" %} class="active" {% endif %}>Getting Started</a>
                    <a href="{{ "/imageprocessor/" | relative_url }}" {% if page.navgroup == "imageprocessor" %} class="active" {% endif %}>ImageProcessor</a>
                    <a href="{{ "/imageprocessor-web/" | relative_url }}" {% if page.navgroup == "imageprocessor-web" %} class="active" {% endif %}>ImageProcessor.Web</a>
                </div>
            </div>
        </div>
    </nav>
    <header role="banner" class="shadow">
        <div class="container row">
            <div class="col-s-8 col-m-9">
                <h1>
                    {{page.heading}}
                    <span>{% if page.methodof %}{{page.methodof}}.{% endif %}{{page.subheading}}</span>
                </h1>
            </div>
            <div class="col-s-3 push-s-only col-m-3 hidden-xxs hidden-xs">
                <div class="row">
                    <p><img src="{{ "/assets/ico/imageprocessor.svg" | relative_url }}" alt="logo" /></p>
                </div>
            </div>
        </div>
    </header>
    <main role="main">

        {{ content }}
    </main>
    <footer role="contentinfo">
        <hr>
        <div class="container row">
            <div class="col-s-8">
                <p>
                    <strong>ImageProcessor</strong> is an image processing solution built with unlimited &hearts; by <a href="http://twitter.com/James_M_South" rel="author external" target="_blank" data-ga-category="Home Actions" data-ga-action="Home Links" data-ga-label="Twitter View">@james_m_south</a>
                </p>
                <p>
                    Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" rel="external" target="_blank">Apache 2.0 License</a>.
                </p>
            </div>
            <div class="col-s-4">
                <div class="clearfix">
                    <button type="button" class="push-right to-top">Back to Top  <i class="fa fa-caret-up"></i></button>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ "/assets/js/vendor/jquery-2.1.3.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/responsive.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/site.js" | relative_url }}"></script>
</body>
</html>
