{% include header.html %}
<main role="main">
    <header role="banner">
        <div class="container">
            <h1>{{page.heading}}
            <span>{{page.subheading}}</span>
            </h1>
        </div>
    </header>
    <div class="container row">
        <nav class="col-s-3" role="complementary">
            <h3>Methods</h3>
            {% include rootnav.html param=page.root %}
        </nav>
        <article class="col-s-9">
            {{ content }}
        </article>
    </div>
</main>
{% include footer.html %}