{% include header.html %}
<main role="main">
    <header role="banner" class="subpage">
        <div class="container">
            <h1>{{page.heading}}
                <span>{{page.subheading}}</span>
            </h1>
        </div>
    </header>
    <div class="back">
        <div class="container">
            <a href="{{ site.baseurl }}/{{page.group}}.html">&lt;&lt; Back</a>
        </div>
    </div>
    <div class="container row">
        <nav class="col-m-3" role="complementary">
            <h3>Contents</h3>
            {% include subnav.html %}
        </nav>
        <article class="col-m-9">
            {{ content }}
        </article>
    </div>
</main>
{% include footer.html %}
