<h2>Install via Nuget</h2>

<ul class="no-bullets">
    <li><a href="https://nuget.org/packages/ImageProcessor/" role="button" class="download" data-ga-category="Home Actions" data-ga-action="Home Links" data-ga-label="Nuget Link"><i class="fa fa-download"></i>ImageProcessor</a></li>
    <li><a href="https://nuget.org/packages/ImageProcessor.Web/" role="button" class="download" data-ga-category="Home Actions" data-ga-action="Home Links" data-ga-label="Web Nuget Link"><i class="fa fa-download"></i>ImageProcessor.Web</a></li>
    <li><a href="https://nuget.org/packages/ImageProcessor.Web.Config/" role="button" class="download" data-ga-category="Home Actions" data-ga-action="Home Links" data-ga-label="Web Config Nuget Link"><i class="fa fa-download"></i>ImageProcessor.Web.Config</a></li>
</ul>

<table class="table-bordered table-striped">
    <tbody>
        <tr>
            <td><a href="http://github.com/JimBobSquarePants/ImageProcessor" data-ga-category="Home Actions" data-ga-action="Home Links" data-ga-label="GitHub project" rel="external">GitHub project <i class="fa fa-github"></i></a></td>
            <td></td>
        </tr>
        <tr>
            <td>Version {{site.version}}</td>
            <td><img src="https://buildstats.info/nuget/ImageProcessor" alt="ImageProcessor Nuget downloads" /></td>
        </tr>
        <tr>
            <td>Web Version {{site.webversion}}</td>
            <td><img src="https://buildstats.info/nuget/ImageProcessor.Web" alt="ImageProcessor.Web Nuget downloads" /></td>
        </tr>
        <tr>
            <td>Web.Config Version {{site.configversion}}</td>
            <td><img src="https://buildstats.info/nuget/ImageProcessor.Web.Config" alt="ImageProcessor.Web.Config Nuget downloads" /></td>
        </tr>
    </tbody>
</table>

<h3>Plugins</h3>
<h4>ImageProcessor</h4>
<ul class="no-bullets">
    <li><a href="https://nuget.org/packages/ImageProcessor.Plugins.WebP/" role="button" class="download" data-ga-category="Home Actions" data-ga-action="Home Links" data-ga-label="WebP Plugin Nuget Link"><i class="fa fa-download"></i>Plugins.WebP</a></li>
    <li><a href="https://nuget.org/packages/ImageProcessor.Plugins.Cair/" role="button" class="download" data-ga-category="Home Actions" data-ga-action="Home Links" data-ga-label="Cair Plugin Nuget Link"><i class="fa fa-download"></i>Plugins.Cair</a></li>
</ul>
<h4>ImageProcessor.Web</h4>
<ul class="no-bullets">
    <li><a href="https://nuget.org/packages/ImageProcessor.Web.Plugins.AzureBlobCache/" role="button" class="download" data-ga-category="Home Actions" data-ga-action="Home Links" data-ga-label="AzureBlobCache Plugin Nuget Link"><i class="fa fa-download"></i>Plugins.AzureBlobCache</a></li>
</ul>